.box{
    background-color: rgb(255, 0, 51);
    width: 100%;
    height: 100px;

}

.box2{
    background-color: rgb(182, 6, 0);
}

.box3{
    background-color: rgb(173, 105, 105);
}

.container{
    display: flex;
}

.box4{
    background-color:burlywood ;
    width: 33.33%;
}

.box5{
    background-color: blueviolet;
    width: 66.66%;

}

.container2{
    display:flex;
}

.box6{
    background-color: goldenrod;

}

.box7{
    background-color: lavender;

}

.box8{
    background-color: crimson;
    width: 66.66%;
    height: 200px;
    text-align: center;
    line-height: 200px;

}

.container3{
    display: flex;
}

.section{
    width: 33.33%;
}


